


.footer{
  
  background-color: rgb(241, 232, 232);
  margin: 5%;
}
.cardform{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 2%;
}
.table{
  background-color: rgb(193, 166, 131);
}
.App {
  text-align: center;
  background-color: rgb(104, 166, 236);
}